.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  margin-bottom: 40px;
  position: relative;
}

.header h1 {
  font-size: 40px;
  font-weight: 600;
  font-family: inherit;
}

.header p {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
}

.profile {
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 8px;
  right: 28px;
}

.profile img {
  width: 100%;
}

@media only screen and (max-width: 780px) {
  .header h1 {
    font-size: 40px;
  }

  .header p {
    font-size: 13.5px;
  }

  .profile {
    width: 42px;
    height: 42px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    align-items: flex-start;
    padding: 0 14px;
  }

  .header h1 {
    font-size: 32px;
  }

  .header p {
    font-size: 11px;
  }

  .profile {
    right: 10px;
    width: 40px;
    height: 40px;
  }
}
