.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
}

.header p {
  text-align: center;
  color: var(--primary-text);
  font-size: 15.3px;
  font-weight: 500;
  margin-top: -7px;
}

.profile {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  width: 48px;
  position: absolute;
  top: 12px;
  right: 28px;
}

@media only screen and (max-width: 780px) {
  .header h1 {
    font-size: 40px;
  }

  .header p {
    font-size: 13.5px;
  }

  .profile {
    width: 42px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    align-items: flex-start;
    padding: 0 14px;
  }

  .header h1 {
    font-size: 32px;
  }

  .header p {
    font-size: 11px;
  }

  .profile {
    top: 10px;
    right: 10px;
    width: 40px;
  }
}
