.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(8px);
  z-index: 10;
}

.container > div {
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
  border-radius: 26px;
  margin-bottom: 60px;
  width: 100%;
}

.container > div > div {
  min-height: auto;
  max-height: auto;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
  height: 268px;
  width: 100%;
}

.header {
  text-align: center;
  font-weight: 500;
}

.header p {
  font-size: 15px;
}

.university {
  color: var(--primary-text);
  font-weight: 500;
}

.university select {
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  color: var(--primary-color);
  font-weight: 500;
  padding: 6px 8px;
  margin-left: 4px;
  outline: none;
}

.verify {
  width: 75%;
}

.input {
  background-color: white;
  border: 2px solid #cfcfcf;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  padding: 10px 24px;
}

.input input,
.input button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 0.9em;
  outline: none;
}

.input input {
  width: 100%;
}

.input input::placeholder {
  color: rgb(177, 177, 177);
}

.button {
  cursor: pointer;
  font-weight: 600;
  color: var(--primary-text);
}
.button:hover {
  color: var(--primary-color);
}
.button:active {
  opacity: 0.7;
}
.button:focus {
  color: var(--primary-color);
}

.verify p {
  font-size: 0.8em;
  text-align: center;
  color: gray;
  margin: 12px 0 -10px;
}

.waiting {
  padding-top: 20px;
  color: var(--primary-text);
}

.waiting_head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.waiting_head h2 {
  font-weight: 600;
}

.waiting_head p {
  font-size: 0.8em;
  line-height: 0.9em;
}

.waiting_head span {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.5em;
}

.waiting_head > div {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.interests {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 12px;
  margin: 12px 0 28px;
}

.interests li {
  background-color: #eeeeee;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9em;
  flex-basis: 23%;
  text-align: center;
  padding: 7px 12px;
  transition: all 0.15s ease-in;
}

.interests li:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.active_interest {
  background-color: var(--primary-color) !important;
  color: white !important;
  font-weight: 600;
}

.interests li:active {
  transform: scale(0.95);
}

.gender {
  align-items: center;
  display: flex;
}

.gender div {
  align-items: center;
  display: flex;
}

.gender input {
  margin-left: 18px;
  margin-right: 5px;
}

.start_container {
  text-align: center;
}

.start {
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  padding: 8px 0;
  width: 110px;
  margin-top: 34px;
}

.start:hover {
  opacity: 0.85;
}

.start:active {
  opacity: 0.7;
}

@media only screen and (max-width: 780px) {
  .container > div {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .waiting_head {
    margin-bottom: 18px;
  }

  .waiting_head h2,
  .waiting_head span {
    font-size: 1.2em;
  }

  .waiting_head p {
    font-size: 0.7em;
  }

  .waiting > div:nth-child(2) p {
    font-size: 0.9em;
  }

  .interests li {
    font-size: 0.8em;
  }

  .gender {
    font-size: 0.9em;
  }

  .start {
    font-size: 0.9em;
    margin-top: 26px;
  }
}
