.timing {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  width: 100%;
}

.detail {
  text-align: center;
  font-size: 14px;
  margin: 20px 0 24px;
}

.opening {
  text-align: center;
}
