.user {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  row-gap: 48px;
}

.detail {
  text-align: center;
}

.userLogo {
  padding: 18px 12px 8px;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  margin: auto;
}

.userLogo img {
  width: 100%;
}

.feedback h2,
.detail h2 {
  font-weight: 600;
  font-size: 18px;
  margin: 12px 0;
}

.detail button {
  margin-top: 12px;
  padding: 0.45em 1.2em;
}

.feedback {
  flex: 1;
  font-size: 0.9em;
  width: 80%;
}

@media only screen and (max-width: 780px) {
  .feedback {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .userLogo {
    width: 68px;
    height: 68px;
  }

  .feedback h2,
  .detail h2 {
    font-size: 1em;
  }

  .feedback {
    width: 100%;
  }
}
